.nav-link {
  all: unset;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  &:hover {
    // background-color: lightgray;
    font-weight: bolder;
    color: #fcf200;
    transform: scale(1.1);
  }
}

.linear-bg-2 {
  background-image: linear-gradient(to left, #5dade2, #163683);
}
